@charset "UTF-8";
.Admin_Car{
	width:100%;
	height: 100%;
	overflow: auto;
	padding: 5px;
}
form{
	width:100%;
	height: 100%;
	overflow: auto;
}
table{
	width: 100%;
	height: 100%;
}
tbody{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
tr{
	flex:1;
	display: flex;
	margin-bottom: 10px;
}
tr > * {
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
}
td > input{
	width: 90%;
	box-sizing: border-box;
}
td > input[type=button]{
	width: 90%;
	box-sizing: border-box;
	border-radius: 5px;
}
td{
	margin-right: 10px;
}
td:last-child {
	padding-right:5px;
	margin-left: 10px;
	margin-right: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}